@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 1rem;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.page-loading {
  @apply fixed inset-0 bg-white opacity-80 flex items-center justify-center z-50;
}

.page-loading::after {
  content: "";
  @apply w-8 h-8 border-4 border-indigo-500 border-t-transparent rounded-full animate-spin;
}
